h1 {
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 30px;
  font-family: monospace;
}

ul {
  list-style: none;
  width: 90%;
  margin: 0 auto;
  padding-left: 0;
}

.list_item {
  font-size: 3rem;
  color: #4caf50;
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 10%;
  padding: 50px;
}
